* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(213, 211, 213);
}

h1 {
  text-align: center;
}

.itemcontainer {
  display: flex;
  justify-content: center;
}

.item {
  background-color: rgb(255, 255, 255);
  padding: 11px;
  margin: 33px;
}

img {
  width: 150px;
  height: 150px;
  margin: auto;
  display: block;
}

.price {
  color: rgb(53, 160, 29);
  font-weight: bolder;
  font-size: 1.1em;
  margin: 9px 0px 11px 0px;
}

.amountsec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amountsec p{
  padding: 6px 33px;
  border: 1px solid gray;
}

.amountsec button {
  width: 66px;
  height: 33px;
  border: none;
}

.sat {
  background-color: red;
}

.al {
  background-color: rgb(106, 204, 241);
}

.basket{
  text-align: center;
}

.temizle{
  margin: auto;
  display: block;
}

@media screen and (max-width: 1200px) {
  .itemcontainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}

@media screen and (max-width: 800px) {
  .itemcontainer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (max-width: 600px) {
  .itemcontainer {
    display: block;

  }
}